body{
    background-color: #62CDFF;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 5rem;
    color: #62CDFF;
    text-shadow: 5px 5px 13px black;
}

p{
    margin: 2% 0;
}

a{
    font-family: 'Pacifico', cursive;
    color: #62CDFF;
}

.cardPage{
    border: 0;
    margin: 3% 15%;
}

.cardImg{
    width: 60%;
}

.cardHead{
    margin-bottom: 8%;
}

.butt{
    width: 100%;
    margin-top: 1%;
}

.inp{
    margin: 2% 0;
}

.row, .col-6{
    margin: 0;
    padding: 0;
}

.cardRadio{
    margin: 0 1%;
    padding: 3%;
    padding-left: 6%;
}

.cardGen{
    border-radius: 50%;
    width: 70%;
}

.dob{
    font-size: large;
    margin-top: 3%;
}

.error-text {
    color: rgb(255, 255, 255);
    background: rgba(255, 68, 68, 0.76);
    font-weight: bold;
    text-align: center;
    padding: 0.2rem 0.2rem;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
  }